snippets-python/__pycache__
snippets-javascript/node_modules
snippets-javascript/package-lock.json

contracts/**/target
contracts/**/output

sandbox/**
sandbox/!.gitignore
sandbox/!README.md
sandbox/!alice.pem
sandbox/!alice.json
sandbox/!bob.pem
sandbox/!bob.json
sandbox/!carol.pem
sandbox/!carol.json
sandbox/!counter.abi.json
sandbox/!counter.wasm
sandbox/!lottery-esdt.abi.json
sandbox/!lottery-esdt.wasm
sandbox/!adder.abi.json
sandbox/!adder.wasm
